<div class="container">
    <h2 class="text-center">Released</h2>
    <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="expansion in expansions | filter:{ released: true }">
            <div class="pull-right">
                <input type="number" class="form-control collection-number"
                       ng-model="user.collection[expansion.name]" min="0" placeholder="0" ng-change="updateCollection()">
            </div>
            <div class="media">
                <span class="media-left exp-image">
                    <img src="{{ expansion.image }}" onerror="this.src='/images/expansions/notfound.jpg'" alt="{{ expansion.name }}">
                </span>
                <div class="media-body">
                    <h4 class="media-heading">{{ expansion.name }}</h4>
                    <p class="list-group-item-text" style="margin-right: 75px;">
                        <small ng-repeat="card in expansion.cards">
                            <i>{{ card.count }}x {{ getName(card.name) }}</i><span ng-if="!$last">, </span>
                        </small>
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <h2 class="text-center">Unreleased</h2>
    <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="expansion in expansions | filter:{ released: false }">
            <div class="pull-right">
                <input type="number" class="form-control collection-number"
                       ng-model="user.collection[expansion.name]" min="0" placeholder="0" ng-change="updateCollection()">
            </div>
            <div class="media">
                <span class="media-left exp-image">
                    <img src="{{ expansion.image }}" onerror="this.src='/images/expansions/notfound.jpg'" alt="{{ expansion.name }}">
                </span>
                <div class="media-body">
                    <h4 class="media-heading">{{ expansion.name }}</h4>
                    <p class="list-group-item-text" style="margin-right: 75px;">
                        <small ng-repeat="card in expansion.cards">
                            <i>{{ card.count }}x {{ getName(card.name) }}</i><span ng-if="!$last">, </span>
                        </small>
                        <small ng-if="expansion.cards.length == 0">
                            No cards listed yet.
                        </small>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
