.DS_Store

# IntelliJ artifacts
.idea

# Node artifacts
node_modules

# Less artifacts
client/css

# Import artifacts
import/cards-en.js
import/cards-common.js
import/manifest.js

# Database artifacts
server/db
