//----------------------------------------------------------------------------------------------------------------------
// Styling for card display
//----------------------------------------------------------------------------------------------------------------------

.card-directive {
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 325px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    .restriction {
        font-size:.85em;
        font-style: italic;
    }

    .title {
        text-align: center;
    }

    .skill-faction {
        font-size: 2em;
        margin-top: 5px;
        min-height: 46px;
        margin-bottom: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        text-align: center;

        .ship {
            min-height: 36px;
            font-size: 20px;
            font-style: italic;
            line-height: normal;
            display: flex;
            justify-content:center;
            align-content:center;
            flex-direction:column;
        }

        .skill {
            font-weight: bold;
            color: #ff9900;
            float: left;
            border: 1px solid #aaa;
            height: 1.2em;
            width: 1.2em;
            line-height: 1.16em;
            text-align: center;
            border-radius: 50%;
        }

        .faction {
            position: relative;
            top: -4px;
            float: right;
            font-size: 30px;
        }
    }

    .stats {
        display: inline-block;
        float: left;
        text-align: right;
        font-weight: bold;
        font-size: 1.25em;
        width: 60px;

        .attack {
            color: #ed1c26;
        }

        .energy {
            color: #e0c8e1;
        }

        .agility {
            color: #76ba45;
        }

        .hull {
            color: #ffe700;
        }

        .shield {
            color: #5cc4e4;
        }
    }

    .text {
        margin-top: 15px;
        padding: 2px 5px;
        border-radius: 4px;
        border: 1px solid #ddd;
        text-align: center;
        min-height: 100px;
        font-size: .85em;

        &.pilot {
            margin-left: 65px;
        }
    }

    .actions,
    .upgrades,
    .cost,
    .type {
        position: absolute;
        font-size: 25px;
    }

    .actions {
        left: 10px;
        right: 10px;
        bottom: 45px;
        font-size: 18px;
        text-align: center;

        i + i {
            margin-left: 10px;
        }
    }

    .upgrades {
        left: 10px;
        right: 10px;
        bottom: 10px;
        text-align: center;
        font-size: 16px;
        padding-top: 5px;
        min-height: 34px;
        border-top: 1px solid #ddd;

        i + i {
            margin-left: 2px;
        }
    }

    .type {
        left: 10px;
        bottom: 10px;
        font-size: 18px;
    }

    .cost {
        right: 10px;
        bottom: 10px;
        font-weight: bold;
    }
}

//----------------------------------------------------------------------------------------------------------------------