<div class="container builder">
    <!-- Faction Building Page -->
    <div class="row hidden-xs">
        <div class="pull-left">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a ng-click="summary()">
                        <i class="fa fa-list"></i> Summary
                    </a>
                </li>
                <li role="presentation" ng-class="{ disabled: !isValid() }">
                    <a ng-click="save()">
                        <i class="fa fa-save"></i> Save
                    </a>
                </li>
                <li class="disabled" role="presentation">
                    <a>
                        <i class="fa fa-trash-o"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 col-lg-6 pull-right">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" ng-class="{ active: faction == 'empire' }">
                    <a ng-click="faction = 'empire'">
                        <i class="fa fa-ge"></i> Galactic Empire
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: faction == 'rebel' }">
                    <a ng-click="faction = 'rebel'">
                        <i class="fa fa-ra"></i> Rebel Alliance
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: faction == 'scum' }">
                    <a ng-click="faction = 'scum'">
                        <span class="icon-scum"></span> Scum and Villainy
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="btn-group btn-group-justified visible-xs">
        <label class="btn btn-default" ng-model="faction" btn-radio="'empire'"><i class="fa fa-ge"></i> Empire</label>
        <label class="btn btn-default" ng-model="faction" btn-radio="'rebel'"><i class="fa fa-ra"></i> Rebel</label>
        <label class="btn btn-default" ng-model="faction" btn-radio="'scum'"><span class="icon-scum"></span> Scum</label>
    </div>
    <hr>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xs-8 form-group squad-name has-warning" ng-class="{ 'has-warning': !squadName }">
            <input type="text" class="form-control" id="squadName" placeholder="Squadron Name" ng-model="squadName">
            <p class="help-block" collapse="squadName">You will want to name this squad before you save.</p>
        </div>
        <div class="col-xs-4 text-right">
            <h3 style="margin: 0; line-height: 34px;">
                <span ng-class="{ 'text-danger': totalPoints > 100 }">{{ totalPoints }}</span>
            </h3>
        </div>
    </div>
    <div class="panel panel-default" ng-repeat="squadMember in squad">
        <div class="panel-heading">
            <div class="row" ng-show="squadMember.ship">
                <div class="col-xs-10 col-sm-6">
                    <select class="form-control ship-select"
                            ng-options="ship as formatName(ship) group by ship.size | capitalize for ship in ships | orderBy:['-size', 'name'] track by ship.id" ng-model="squadMember.ship">
                        <option value="">Select ship...</option>
                    </select>
                    <button class="btn btn-link" type="button" ng-click="removeShip($index)"><i class="fa fa-close close"></i></button>
                </div>
                <div class="col-xs-2 col-sm-6 text-right">
                    <h4>{{ squadMember.points }}</h4>
                </div>
            </div>
        </div>

        <!-- Upgrade Card selection -->
        <div ng-if="squadMember.ship" class="panel-body text-center">
            <div class="row">

                <!-- Pilot -->
                <div class="col-sm-6 form-group card-select" ng-class="{ 'has-error': !squadMember.pilot }">
                    <div class="input-group">
                        <span class="input-group-addon">Pilot</span>
                        <ui-select ng-model="squadMember.pilot">
                            <ui-select-match placeholder="Select pilot..." allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="pilot in squadMember.pilots | orderBy:'-points' | filter: $select.search | uniqueRule:squad:squadMember">
                                <div class="card" ng-class="{ unreleased: !isReleased(pilot) }">
                                    <div class="cost">({{ pilot.points }})</div>
                                    <div ng-if="!isReleased(pilot)" class="unreleased">Unreleased</div>
                                    <h5 class="name" ng-bind-html="pilot.name | highlight: $select.search"></h5>
                                    <div class="stats">
                                        <span class="pilot">Pilot: {{ pilot.skill }}</span>
                                        <span ng-if="(pilot.attack || squadMember.ship.attack)" class="attack">Atk: {{ pilot.attack || squadMember.ship.attack || 0 }}</span>
                                        <span ng-if="(pilot.energy || squadMember.ship.energy)" class="energy">Eng: {{ pilot.energy || squadMember.ship.energy || 0 }}</span>
                                        <span class="agility">Agi: {{ pilot.agility || squadMember.ship.agility || 0 }}</span>
                                        <span class="hull">Hull: {{ pilot.hull || squadMember.ship.hull || 0 }}</span>
                                        <span class="shield">Shld: {{ pilot.shields || squadMember.ship.shields || 0 }}</span>
                                        <span class="pull-right">
                                            <i class="xmf xmf-{{action}}" ng-repeat="action in pilot.actions.concat(squadMember.ship.actions)"></i>
                                        </span>
                                    </div>
                                    <div class="text" ng-bind-html="pilot.text"></div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!-- Title -->
                <div ng-if="squadMember.titles.length > 0" class="col-sm-6 card-select">
                    <div class="input-group">
                        <span class="input-group-addon" title="Title"><i class="xmf xmf-title"></i></span>
                        <ui-select ng-model="squadMember.title">
                            <ui-select-match placeholder="Select title..." allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="title in squadMember.titles | filter: $select.search | uniqueRule:squad:squadMember">
                                <div class="card" ng-class="{ unreleased: !isReleased(title) }">
                                    <div ng-if="!isReleased(title)" class="unreleased">Unreleased</div>
                                    <h5 class="name" ng-bind-html="title.name | highlight: $select.search"></h5>
                                    <div class="text" ng-bind-html="title.text"></div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!-- Modification -->
                <div class="col-sm-6 card-select">
                    <div class="input-group">
                        <span class="input-group-addon" title="Modification"><i class="xmf xmf-modification"></i></span>
                        <ui-select ng-model="squadMember.mod">
                            <ui-select-match placeholder="Select modification..." allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="mod in squadMember.mods | orderBy:'-points' | filter: $select.search | uniqueRule:squad:squadMember">
                                <div class="card" ng-class="{ unreleased: !isReleased(mod) }">
                                    <div class="cost">({{ mod.points }})</div>
                                    <div ng-if="!isReleased(mod)" class="unreleased">Unreleased</div>
                                    <h5 class="name" ng-bind-html="mod.name | highlight: $select.search"></h5>
                                    <div class="text" ng-bind-html="mod.text"></div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!-- Upgrades -->
                <div ng-hide="upgrades.length == 0" ng-repeat="(type, upgrades) in squadMember.upgrades">
                    <div class="col-sm-6" ng-repeat="upgrade in upgrades track by $index">
                        <div class="input-group card-select">
                            <span class="input-group-addon" title="{{ type | capitalize }}"><i class="xmf xmf-{{ type }}"></i></span>
                            <ui-select ng-model="squadMember.upgrades[type][$index]">
                                <ui-select-match placeholder="Select {{ upgrade }} upgrade..." allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                                <ui-select-choices repeat="upgrade in upgradesByType(type, squadMember.ship) | orderBy:'-points' | filter: $select.search | uniqueRule:squad:squadMember | limitedRule:squadMember">
                                    <div class="card" ng-class="{ unreleased: !isReleased(upgrade) }">
                                        <div class="cost">({{ upgrade.points }})</div>
                                        <div ng-if="!isReleased(upgrade)" class="unreleased">Unreleased</div>
                                        <h5 class="name" ng-bind-html="upgrade.name | highlight: $select.search"></h5>
                                        <div class="text" ng-bind-html="upgrade.text"></div>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="input-group">
        <span class="input-group-addon" title="Add to squad"><i class="fa fa-plus"></i></span>
        <select class="form-control"
                id="newShip"
                ng-options="ship as formatName(ship) group by ship.size | capitalize for ship in ships | orderBy:['-size', 'name'] track by ship.id" ng-model="newShip">
            <option value="">Add ship to squad...</option>
        </select>
    </div>
    <p class="help-block text-right">You can select a ship above to add it to the squad. If you're done building, you can check out the squad <a ng-click="summary()">summary</a> page.</p>
    <hr>
    <textarea class="form-control" rows="5" placeholder="Squad notes..." ng-model="squadNotes"></textarea>
    <div class="visible-xs">
        <hr>
        <div class="btn-group btn-group-justified" role="group" aria-label="Squad Notes">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="summary()">
                    <i class="fa fa-list"></i> Summary
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="save()" ng-class="{ disabled: !isValid() }">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default disabled">
                    <i class="fa fa-trash-o"></i> Delete
                </button>
            </div>
        </div>
    </div>
</div>
