<div class="container-fluid">

    <br/>

    <!-- If there's no faction selected -->
    <div ng-show="faction == undefined" class="well text-center">
        <h4>Please select a faction:</h4>
        <div class="btn-toolbar hidden-xs">
            <button class="btn btn-default" ng-click="faction = 'empire'">
                <i class="fa fa-ge"></i> Galactic Empire
            </button>
            <button class="btn btn-default" ng-click="faction = 'rebel'">
                <i class="fa fa-ra"></i> Rebel Alliance
            </button>
            <button class="btn btn-default" ng-click="faction = 'scum'">
                <span class="icon-scum"></span> Scum and Villainy
            </button>
        </div>
        <div class="btn-group visible-xs-inline-block" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                Select Faction... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="faction = 'empire'">
                        <i class="fa fa-ge"></i> Galactic Empire
                    </a>
                </li>
                <li>
                    <a ng-click="faction = 'rebel'">
                        <i class="fa fa-ra"></i> Rebel Alliance
                    </a>
                </li>
                <li>
                    <a ng-click="faction = 'scum'">
                        <span class="icon-scum"></span> Scum and Villainy
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Faction Building Page -->
    <div ng-hide="faction == undefined">
        <ul class="nav nav-pills pull-right hidden-xs">
            <li role="presentation" ng-class="{ active: faction == 'empire' }">
                <a ng-click="faction = 'empire'">
                    <i class="fa fa-ge"></i> Galactic Empire
                </a>
            </li>
            <li role="presentation" ng-class="{ active: faction == 'rebel' }">
                <a ng-click="faction = 'rebel'">
                    <i class="fa fa-ra"></i> Rebel Alliance
                </a>
            </li>
            <li role="presentation" ng-class="{ active: faction == 'scum' }">
                <a ng-click="faction = 'scum'">
                    <span class="icon-scum"></span> Scum and Villainy
                </a>
            </li>
        </ul>
        <div class="btn-group btn-group-justified visible-xs">
            <label class="btn btn-default" ng-model="faction" btn-radio="'empire'"><i class="fa fa-ge"></i> Empire</label>
            <label class="btn btn-default" ng-model="faction" btn-radio="'rebel'"><i class="fa fa-ra"></i> Rebel</label>
            <label class="btn btn-default" ng-model="faction" btn-radio="'scum'"><span class="icon-scum"></span> Scum</label>
        </div>
        <hr class="visible-xs">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-5 squad-name">
                <input type="text" class="form-control" id="squadName" placeholder="Squadron Name">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <select class="form-control">
                            <option>Select a ship</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center">
                <h4>Add a ship</h4>
                <p>Select a ship from the dropdown above to add it to the squadron.</p>
            </div>
        </div>
        <hr>
        <textarea class="form-control" rows="5" placeholder="Squad notes..."></textarea>
    </div>
</div>
