//----------------------------------------------------------------------------------------------------------------------
// Squads Page Styles
//----------------------------------------------------------------------------------------------------------------------

.my-squads {
    .upgrade-list {
        list-style: none;
        padding-left: 20px;

        .xmf {
            font-size: 1em;
        }
    }

    .win-loss {
        position: absolute;
        bottom: 15px;
        right: 15px;

        input[type='number'].form-control {
            width: 65px;

            @media(max-width: 767px)
            {
                width: 100%;
            }
        }

        @media(max-width: 767px)
        {
            position: inherit;
            bottom: 0;
            top: 0;
        }
    }

    .squads-row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .squad {
            width: calc(~"50% - 5px");
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            @media(max-width: 1199px)
            {
                display: block;
                width: 100%;
            }

            .panel {
                width: 100%;
                margin-bottom: 10px;
                position: relative;
                padding-bottom: 49px;
            }

            &:nth-child(even) {
                margin-left: 10px;

                @media(max-width: 1199px)
                {
                    margin-left: 0;
                }
            }

            &:last-child:nth-child(odd) {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------